
<header>
    <nav class='navbar navbar-expand-md navbar-dark fixed-top bg-dark'>
        <a class='navbar-brand'>Doggos</a>
    <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarCollapse'
    aria-controls='navbarCollapse' aria-expaded='false' aria-label='Toggle navigation'>
        <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarCollapse'>
        <ul class='navbar-nav mr-auto'>
            <li class='nav-link active'>
                <a class='nav-link' href='/auth/signup'>Sign Up</li>
            </li> 
            <li class='nav-item'>
                <a class='nav-link' href='/auth/login'>Login</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link' href='/auth/logout'>Logout</a>
            </li>
            <li class='nav-item'>
                <a class='nav-link' href='/profile'>Profile</a>
            </li>
        </ul>
    </div>
    </nav>
</header>
<main role='main'>
    <div id='myCarousel' class='carousel slide' data-ride='carousel'>
        <!-- wrapper for slides -->
        <div class='carousel-inner' role='listbox'>
            <div class='item active'>
                <img src='junk/2doggos.jpg' alt='2doggos'/>
            <div class='carousel-caption'>
                <h2>What to take these good boys home?</h2>
                <div class='item'>
                        <img src='junk/2doggos.jpg' alt='2doggos'/>
                    <div class='carousel-caption'>
                        <h2>What to take these good boys home?</h2>
            </div>
            </div>
        </div>
    </div>
  
<div class='container marketing'>
    <div class='row'>
    <div class='col-lg-4'>
        <svg class='bd-placeholder-img rounded-circle' width='140' height='140' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='xMidYMid slice' focusable='false' role='img' aria-label='140x140'>
            <title>Image</title>
        <rect width='100%' height='100%' fill='#777'></rect>
    <text x='50%' y='50%' fill='#777' dy='.3em'>140x140</text>
</svg>
<h2>Text One</h2>
<p>
    Insert Text line here
</p>
<p>
    <a class='btn-btn-secondary' href='#' role='button'>View Details #1</a>
</p>
    </div>
<div class='col-lg-4'>
    <svg class='bd-placeholder-img rounded-circle' width='140' height='140' xmln='http://www.w3.org/2000/svg' preserveAspectRatio='xMidYMid slice' focusable='false' role='img' aria-label='140x140'>
    <title>Image 2</title>
    <rect width='100%' height='100%' fill='#777'></rect>
    <text x='50%' y='50%' fill='#777' dy='.3em'>140x140</text>
</svg>
<h2>Heading</h2>
<p>
    insert text bio here.
</p>
<p>
    <a class='btn-btn-secondary' href='#' role='button'>View Details</a>
</p>
</div>
<div class='col-lg-4'>
    <svg class='bd=placeholder-img rounded-circle' width='140' height='140' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='xMidYMid slice' focusable='flase' role='img' aria-label='Placeholder: 140x140'>
    <title>image 3</title>
    <rect width='100%' height='100%' fill='#777'></rect>
</svg>
<h2>Heading</h2>
<p>
    Insert text bio here.
</p>
<p>
    <a class='btn-btn-secondary' href='#' role='button'>View Details</a>
</p>
</div>

</div>
<hr class='featurette-divider'>
<div class='row featurette'>
    <div class='col-md-7'>
        <h2 class='featurette-heading'>
            'First Doggo Heading'
            <span class='text-muted'>So Cute I Can't Handle</span>
        </h2>
        <p class='lead'>
            More cute stories here
        </p>
    </div>
    <div class='col-md-5'>
        <svg class='bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto' width='500' height='500' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='xMidYMid slice' focusable='false' role='img' aria-label='placeholde: 500x500'>
        <title>Cute Pup Here</title>
        <rect width='100%' height='100%' fill='#eee'></rect>
        <text x='50%' y='50%' fill='#aaa' dy='.3em'>500x500</text>
        </svg>   
    </div>
</div>
<hr class='featurette-divider'>

</main>


