

<h2>Breed Page</h2>
<!--we have an array of dogs and we need to iterate through into an ul of html element dogs-->
<ul>
    <% breedList = breeds.map(function(b) { %>
    <li><a href=''><%= b.breedName %></a></li>
    <% }); %>
</ul>