<!-- List of a breed collection. (breed/show.ejs)-->
<!-- "Bulldogs" -- dog details + delete buttons (breed/:id)-->

<!-- 

<h1>Breed Collection: Beagle <%= ### %></h1>

<a href='/profile'>Create New</a>

<hr />

<h2>Beagle</h2>
<% petfinder.breeds.breed.$t.forEach(function(post){ %>
<div class='well'>
    <h3>
        <a href='/posts/<%= posts.id %>'><%= post.title %></a>
    </h3>
</div>
<& }); %> -->

