<h2><%= currentUser.name %>'s Profile Page</h2>

<a href="/">Home</a>

<hr />

<a href='/search'>Search through more Doggos</a>
<br>
<hr />

<a href="/breeds/mybreeds/<%= currentUser.id %>">My Breeds</button>





