<h2>Profile Page</h2>

<a href="/">Home</a>

<hr />

<a href='/search'>Search through more Doggos</a>
<h2>My Breed Collections</h2>

<ul>
    <li><a href='#'>Bulldog</a></li>
    <li><a href='#'>German Sheperd</a></li>
    <li><a href='#'>Golden Retriever</a></li>
</ul>


