<h1>Search Page</h1>
<form method='GET' action='/results'>
<select name='breed'>
    <% breeds.forEach( function(breed){ %>
    <option value='<%=breed.$t %>'><%= breed.$t %></option>
    <% }) %> 
</select>
<select name="state">
    <% states.forEach(function(state){ %>
        <option value='<%= state %>'><%= state %></option>
    <% }) %>
</select>
<input class='btn' type='submit' value='Find doggos!'>
</form>
